SYSTEM_REQUIREMENT_CHECK_ENABLED="false"
LOGGING_LEVEL="VERBOSE"
LOGGING_CONFIG_PATH="logback.xml"
ALPINE_LDAP_ENABLED="true"
ALPINE_LDAP_SERVER_URL="ldaps://ad.etam.co:3269"
ALPINE_LDAP_BASEDN=DC="DomainComp,DC=domCOM"
ALPINE_LDAP_SECURITY_AUTH="simple"
ALPINE_LDAP_BIND_USERNAME="cn=USER_TO_AD USER_TO_AD,ou=Organization,ou=OrganizationUnit,ou=AR,ou=ETA,dc=DomainComp,dc=domCOM"
ALPINE_LDAP_BIND_PASSWORD="PASSWORD_B"
ALPINE_LDAP_AUTH_USERNAME_FORMAT="%s"
ALPINE_LDAP_ATTRIBUTE_NAME="sAMAccountName"
ALPINE_LDAP_ATTRIBUTE_MAIL="mail"
ALPINE_LDAP_GROUPS_FILTER="(&(objectClass=group)(member={cn}))"
ALPINE_LDAP_USER_GROUPS_FILTER="(member:1.2.840.113556.1.4.1941:={USER_DN})"
ALPINE_LDAP_GROUPS_SEARCH_FILTER="(&(objectClass=group)(cn=....))"
ALPINE_LDAP_USERS_SEARCH_FILTER="(&(objectClass=person)(sAMAccountName={0}))"
ALPINE_LDAP_USER_PROVISIONING="true"
ALPINE_LDAP_TEAM_SYNCHRONIZATION="true"